---
import LottiePlayer from "./LottiePlayer.astro";
---

<div id="splash-screen">
  <LottiePlayer src="lottie/loading.json" class="w-40 h-40" />
</div>

<script>
  const DURATION = 2000;

  setTimeout(() => {
    const splash = document.getElementById("splash-screen");
    if (!splash) return;
    splash.classList.add("hide");
    setTimeout(() => splash.remove(), 500);
  }, DURATION);
</script>
